<div class="col-xs-12 col-sm-8 col-sm-offset-2 score">
  <h1>Your score</h1>
  <hr>
  <p>Time Taken to answer: <strong><%= @result[:time] %>s</strong></p>
  <p>Translation: <strong><%= @result[:translation] %></strong></p>
  <p>Your score: <strong><%= @result[:score] %></strong></p>
  <p>Message: <strong><%= @result[:message] %></strong></p>
</div>
